{% extends 'game/index.html' %}
{%load static%}
{%block title %} FAQ - لگ سیتی گیم{%endblock title%}
{% block content%}
        <!-- header end -->
        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline">
                                <h3>سوالات متداول</h3>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">خانه</li>
                                <li>سوالات متداول</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
        <!-- Start FAQ -->
        <div class="faq-page bg-color-2 page-padding">
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="business-faq">
                            <h3>اعضای لگ سیتی </h3>
                            <p> تیم لگ سیتی متشکل از محمد ابراهیم طبق سری (دولوپر) و آرین صالحی (منیجر) میباشد . </p>
                        </div>
                    </div>
                    <!-- Start FAQ Start -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="faq-full">
                            <div class="single-faq ">
                                <h4>1.  قوانین سرور های بازی لگ سیتی </h4>
                            </div>
                            <div class="faq-details">
                                <div class="panel-group" id="accordion">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                    <span class="acc-icons"></span>چیت زدن ممنوع
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
سرور های لگ سیتی دارای انتی چیت قدرتمند و دارای ادمین های فعال میباشد . درصورت مشاهده هرگونه چیت از سرور بن دایم میشوید
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                    <span class="acc-icons"></span> بی احترامی به ادمین ها 
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
هرگونه بی احترامی به ادمین ها و کادر فنی لگ سیتی باعث بن 1 هفته ای شما میشود 
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                                    <span class="acc-icons"></span>تیم اپ و همکاری با تیم حریف
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check3" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
تیم اپ در سرور های لگ سیتی ممنوع میباشد و در صورت مشاهده ادمین اجازه بن 1 روزه دارد
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                    <span class="acc-icons"></span>اهانت و استفاده از حرف های رکیک به بازیکن ها
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
هرگونه اهانت و بی احترامی به بازیکن ها ممنوع میباشد و در صورت گزارش به ادمین بن 3 روزه میشوند                                     
           </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->														
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="business-faq">
                            <h3>مسابقات بزرگ لگ سیتی</h3>
                            <p>مسابقات بزرگ لگ سیتی در سرور های مختلف صورت میگیرد که تیم های برنده مسابقات تحت حمایت لگ سیتی قرار میگیرند</p>
                        </div>
                    </div>
                    <!-- Start FAQ Start -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <!-- End FAQ full -->
                        <div class="faq-full">
                            <div class="single-faq ">
                                <h4> 2. قوانین مسابقات</h4>
                            </div>
                            <div class="faq-details">
                                <div class="panel-group" id="accordion1">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion1" href="#check5">
                                                    <span class="acc-icons"></span>تعداد شرکت کننده
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check5" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
تعداد شرکت کنندگام مسابقات لگ سیتی در هر تیم 5 نفر میباشند که تیم ها به صورت دلخواه میتوانند ی یر ذخیره نیز انتخاب کنند
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#check6">
                                                    <span class="acc-icons"></span> درصورت غیبت یک بازیکن چه میشود؟
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                           در صورت کامل نبودن تیم در زمان مسابقه تیمی که کامل نیست بازنده اعلام میشود و تیم حریف صعود میکند
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#check7">
                                                    <span class="acc-icons"></span>چگونه در مسابقات شرکت کنم؟
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check7" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                             برای شرکت در مسابقات به جیمیل mofrad.ghost@gmail.com نام بازیکنان سن و ایدی داخل گیم و کاپیتان و یک راه ارتباطی برای ما بفرستید 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#check8">
                                                    <span class="acc-icons"></span>ایا مسابقات از لگ سیتی پشتیبانی میشوند ؟
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check8" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                            مسابقات به صورت پخش زنده از لگ سیتی یا اپارات لگ سیتی پخش میشوند 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->														
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="business-faq">
                            <h3>بازی هایی که از مسابقه پشتیبانی میشوند</h3>
                            <p>به دلیل هزینه های سنگین سایت فعلا بازی های زیادی از مسابقات پشتیبانی نمیشوند ولی در اینده نچندان دور این امکان رو برایتان فراهم میکنیم</p>
                        </div>
                    </div>
                    <!-- Start FAQ Start -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <!-- End FAQ full -->
                        <div class="faq-full last-item">
                            <div class="single-faq ">
                                <h4> 3. بازی های پشتیبانی شده</h4>
                            </div>
                            <div class="faq-details">
                                <div class="panel-group" id="accordion2">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion2" href="#check9">
                                                    <span class="acc-icons"></span>call of duty mobile 
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check9" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
این بازی به صورت روم توسط ادمین لگ سیتی ساخته میشه و در ساعات مشخص شده افراد موظف هستند انلاین باشند تا اینوایت شوند
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#check10">
                                                    <span class="acc-icons"></span> کانتر استرایک
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check10" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
سرور های اختصاصی لگ سیتی برای بازی کانتر فعال هستند و با مراجعه به بخش دانلود میتوانید بازی را دانلود کنید و وارد سرور بشید
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#check11">
                                                    <span class="acc-icons"></span>minecraft
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check11" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
در اینده نه چندان دور امکان ورود به این سرور فراهم میشود 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#check12">
                                                    <span class="acc-icons"></span>SAMP
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check12" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
سرور های سمپ لگ سیتی بزودی راه اندازی میشوند و به صورت کلن وار مسابقاتش برگزار میشود
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->														
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                        <!-- End FAQ full -->
                    </div>
                    <!-- End Column -->
                </div>
            </div>
        </div>
        <!-- End FAQ -->
    {%endblock content%}