{%load static%}
<!doctype html>
<html class="no-js" lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{%block title%}لگ سیتی گیم!{%endblock title%}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon -->		
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'game/img/logo/favicon.ico' %}">
			<style> 
				.bistscript-bg{background:#204d74;width:auto;direction:rtl;height:auto;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;overflow:hidden;padding-bottom:15px;padding-right:5px;} 
				.bistscript-bg .tp{color:#fff;background:#3498db;padding:2px 16px 2px 16px;border-radius:2px;float:right;margin:5px;} 
				.bistscript-bg .txt{margin:5px;color:#333;text-align:right;} 
				.bistscript-bg .btm{float:right;background:#ddd;padding:5px 20px 5px 20px;margin:3px;color:#666;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0px 0px 10px #bbb;-moz-box-shadow:0px 0px 10px #bbb;-webkit-box-shadow:0px 0px 10px #bbb;transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;-webkit-transition:all linear 0.2s;} 
				.bistscript-bg .link a{text-decoration:none;color:#666;} 
				.bistscript-bg .link a:hover{color:#fff;} 
				.bistscript-bg .link:hover{background:#e74c3c;color:#fff;} 
				.bistscript-bg .size:hover{background:#2ecc71;color:#fff;} 
				.bistscript-bg .pass:hover{background:#3498db;color:#fff;} 
				.bistscript-bg .clear{clear:both;} 
				</style>
		
		<!-- all css here -->

		<!-- bootstrap v3.3.6 css -->
		<link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}">
		<!-- owl.carousel css -->
		<link rel="stylesheet" href="{% static 'game/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'game/css/owl.transitions.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'game/css/meanmenu.min.css' %}">
		<!-- font-awesome css -->
		<link rel="stylesheet" href="{% static 'game/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'game/css/icon.css' %}">
		<link rel="stylesheet" href="{% static 'game/css/flaticon.css' %}">
		<!-- magnific css -->
        <link rel="stylesheet" href="{% static 'game/css/magnific.min.css' %}">
		<!-- venobox css -->
		<link rel="stylesheet" href="{% static 'game/css/venobox.css' %}">
		<!-- style css -->
		<link rel="stylesheet" href="{% static 'game/style.css' %}">
		<!-- responsive css -->
		<link rel="stylesheet" href="{% static 'game/css/responsive.css' %}">

		<!-- modernizr css -->
		<script src="{% static 'game/js/vendor/modernizr-2.8.3.min.js' %}"></script>
	</head>
		<body>

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        <header class="header-one">
            <!-- header-area start -->
            <div id="sticker" class="header-area hidden-xs">
                <div class="container">
                    <div class="row">
                        <!-- logo start -->
                        <div class="col-md-3 col-sm-3">
                            <div class="logo">
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index-2.html">
                                    <img src="{% static 'game/img/logo/logo2.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- logo end -->
                        <div class="col-md-9 col-sm-9">
                            <div class="header-right-link">
                                <!-- search option start -->
                                <form action="#">
                                    <div class="search-option">
                                        <input type="text" placeholder="جستجو...">
                                        <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                    <a class="main-search" href="#"><i class="fa fa-search"></i></a>
                                </form>
                                <!-- search option end -->
                            </div>
                            <!-- mainmenu start -->
                            <nav class="navbar navbar-default">
                                <div class="collapse navbar-collapse" id="navbar-example">
                                    <div class="main-menu">
                                        <ul class="nav navbar-nav navbar-right">
											<li><a class="pagess" href="#">لگ سیتی</a>
												<ul class="sub-menu">
												 <li><a href="https://lagcity.ir/game">لگ سیتی گیم</a></li>
												 <li><a href="https://lagcity.ir/music">لگ سیتی موزیک</a></li>
												</ul>
											<li><a class="pagess" href="#">صفحات</a>
												<ul class="sub-menu">
													<li><a href="/game/about_us">درباره ما</a></li>
													<li><a href="/game/faq">سوالات متداول</a></li>
												</ul>
											</li>
											<li><a class="pagess" href="#">بازی ها</a>
												<ul class="sub-menu">
													<li><a href="/game/games">همه بازی ها</a></li>
												</ul>
											</li>
											<li><a class="pagess" href="#">وبلاگ</a>
												<ul class="sub-menu">
													<li><a href="/game/blog">وبلاگ لگ سیتی گیم</a></li>
												</ul>
											</li>
											<li><a href="/game/contact_us">تماس</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- mainmenu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <div class="logo">
                                    <a href="index-2.html"><img src="{% static 'game/img/logo/logo2.png' %}" alt="" /></a>
                                </div>
                                <nav id="dropdown">
                                    <ul>
                                        <li><a href="index-2.html">خانه</a></li>
										<li><a class="pagess" href="#">صفحات</a>
											<ul class="sub-menu">
												<li><a href="about.html">درباره ما</a></li>
												<li><a href="team.html">تیم</a></li>
												<li><a href="faq.html">سوالات متداول</a></li>
												<li><a href="error.html">ارور</a></li>
											</ul>
										</li>
										<li><a class="pagess" href="#">بازی ها</a>
											<ul class="sub-menu">
												<li><a href="games.html">همه بازی ها</a></li>
												<li><a href="single-game.html">جزئیات بازی</a></li>
											</ul>
										</li>
										<li><a class="pagess" href="#">گالری</a>
											<ul class="sub-menu">
												<li><a href="gallery-3.html">پروژه 3 ستونه</a></li>
												<li><a href="gallery-4.html">پروژه 4 ستونه</a></li>
											</ul>
										</li>
										<li><a class="pagess" href="#">وبلاگ</a>
											<ul class="sub-menu">
												<li><a href="blog.html">وبلاگ گرید</a></li>
												<li><a href="blog-sidebar.html">نوار کناری وبلاگ</a></li>
												<li><a href="blog-details.html">جزئیات وبلاگ</a></li>
											</ul>
										</li>
										<li><a href="contact.html">تماس</a></li>
                                    </ul>
                                </nav>
                            </div>					
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->		
        </header>
        <!-- header end -->
		{%block content%}
        <!-- Start Slider Area -->
        <div class="intro-area">
           <div class="main-overly"></div>
            <div class="intro-carousel">
                <div class="intro-content">
                    <div class="slider-images">
                        <img src="{% static 'game/img/slider/s1.jpg' %}" alt="">
                    </div>
                    <div class="slider-content">
						<div class="container">
							<div class="row">
								<div class="col-md-12 text-center">
									<!-- layer 1 -->
									<div class="layer-1-2">
										<h1 class="title2">به لگ سیتی گیم خوش آمدید!</h1>
									</div>
									<div class="layer-1-1 hidden-xs fontmmd">
										<p>محلی برای شما | دانلود بازی ها | اخبار بازی ها و ....</p>
									</div>
									<!-- layer 3 -->
									<div class="layer-1-3">
										<a href="/music" class="ready-btn" >لگ سیتی موزیک</a>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <div class="intro-content">
                    <div class="slider-images">
                        <img src="{% static 'game/img/slider/s2.jpg' %}" alt="">
                    </div>
                    <div class="slider-content">
						<div class="container">
							<div class="row">
								<div class="col-md-12 text-center">
									<!-- layer 1 -->
									<div class="layer-1-2">
										<h1 class="title2">لگ سیتی گیم!</h1>
									</div>
									<div class="layer-1-1 hidden-xs">
										<p>برای استفاده از خدمات نیاز است وارد شوید</p>
									</div>
									<!-- layer 3 -->
									<div class="layer-1-3">
										{% if user.is_authenticated%}
										{%else%}
										<a href="/accounts/signup" class="ready-btn" >ثبت نام</a>
										{%endif%}
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->
        <!-- Welcome service area start -->
        <div class="services-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
                    <div class="services-carousel">
                    	<!-- single-well end-->
						{%for game in new_g%}
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-services text-center">
								<div class="services-img">
									<img class="test" src="{{game.pic.url}}" alt="">
									<div class="image-layer">
										{%if "PC" in game.from_platform.name %}
										<img src="{% static 'game/img/icon/g4.png' %}" alt="icon Image">
										{%elif "PS4" in game.from_platform.name%}
										<img src="{% static 'game/img/icon/g1.png' %}" alt="icon Image">
										{%elif "XBOX" in game.from_platform.name%}
										<img src="{% static 'game/img/icon/g3.png' %}" alt="icon Image">
										{%elif game.from_platform.name%}
										<img src="{% static 'game/img/icon/g5.png' %}" alt="icon Image">
										{%endif%}
									</div>
								</div>
								<div class="main-services">
									<div class="service-content">
										<h4>{{game.name}}</h4>
										<p>{{game.create_on|timesince}} ago</p>
										<a class="service-btn" href="/game/detail/{{game.id}}">دانلود | DOWNLOAD</a>
									</div>
								</div>
							</div>
						</div>
						{%endfor%}
						<!-- single-well end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome service area End -->
        <!-- Start Product Area -->
        <div class="product-area bg-color-1 area-padding">
            <div class="container">
               <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline white-headline text-center">
							<h3>بازی های لگ سیتی</h3>
							<p>میتوانید اخرین بازی ها را رایگان دانلود کنید</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="best-product">
                        <!-- Start single product -->
					{% for game in random_game%}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="single-product">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="product">
										<div class="product-img">
										    <span class="category">{{game.from_platform.name}}</span>
											<img class="first-img testm" src="{{game.pic.url}}" alt="">
										</div>
                                    </div>
                                </div>
								<p></p>
                                <!-- Start product content -->
                                <div class="col-md-6 col-sm-6 col-xs-12">
									<div class="product-content text-center">
										<h4 class="product-name">
											<a href="/game/detail/{{game.id}}">{{game.name}}</a>
										</h4>
										<div class="launch-date">
											<span>راه اندازی: {{game.create_on|timesince}} ago</span>
										</div>
										<div class="pro-rating no-rating">
										    <span class="rating-rate"> امتیاز: {{game.score}}</span>
										</div>
										{%if "mobile" in game.from_platform.name%}
										<div class="download-btn">
											<span class="play-btn"><a href="https://lagcity.ir"><img src="{% static 'game/img/icon/gplay.png' %}" </a></span>
										</div>
										{%endif%}
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
					{%endfor%}
                </div>
            </div>
        </div>
        <!-- End Product Area -->
		<!-- End portfolio Area -->
        <!-- Start testimonials Area -->       <!-- End testimonials end -->
        <!-- Start Challange Area -->
        <div class="challange-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline white-headline text-center">
							<h3>مسابقه</h3>
							<p>به زودی!</p>
						</div>
					</div>
				</div>
                <div class="row">
					<!-- End single page -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="tab-menu">
							 <!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li class="active">
								{%for mosabghe in last_mosabeghe%}
								    <a href="#p-view-1" role="tab" data-toggle="tab">
							            <img class="cha-img" src="{{mosabghe.pic.url}}" alt="challange image">
								        <span class="title-date">
								        	<span class="cha-title">{{mosabghe.name}}</span>
								            <span class="cha-date">{{mosabghe.create_on|timesince}} ago</span>
								        </span>
								    </a>
								</li>
								{%endfor%}
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="tab-content">
							<div class="tab-pane" id="p-view-4">
								<div class="tab-inner">
									{%for mosabghe in last_mosabeghe%}
									<div class="single-page">
										<div class="page-img">
											<img src="{{mosabghe.pic.url}}" alt="">
										</div>
										<a href="{{mosabghe.video.url}}" class="video-play">
											<i class="fa fa-play"></i>
										</a>
									</div>
									{%endfor%}
								</div>
							</div>
						</div>
					</div>
					<!-- end column -->
				</div>
				<!-- end Row -->
            </div>
        </div>
        <!-- End Challange end -->
        <!--Blog Area Start-->
        <div class="blog-area bg-color-1 area-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline white-headline text-center">
							<h3>اخبار بازی لگ سیتی</h3>
							<p>استودیو جادوگر از سال 2003 شروع به تولید بازی های ابتکاری کرده است. ما خدمات مشتریان خود را به مشتریان خود ارائه می دهیم.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="blog-grid">
						<div class="col-md-8 col-sm-12 col-xs-12">
							<div class="blog-right-column">
								{%for new in last_news %}
								<div class="single-blog">
									<div class="blog-image">
										<a class="image-scale" href="/game/detail/blog/{{new.id}}">
											<img src="{{new.picture.url}}" alt="">
										</a>
									</div>
									<div class="blog-content">
										<div class="blog-meta">
											<span class="date-type">
												{{new.create_on|timesince}}
											</span>
										</div>
										<a href="/game/news/{{new.id}}">
											<h4>{{new.name}}</h4>
										</a>
										<p>{{new.short_desc}}</p>
									</div>
								</div>
								{%endfor%}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End of Blog Area-->		
        <!-- Start Footer bottom Area -->
		{%endblock content%}
        <footer>
            <div class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <h4>اطلاعات</h4>
                                    <div class="footer-contacts">
                                        <p><span>تلفن :</span> +989229390313</p>
                                        <p><span>ایمیل :</span> mofrad.ghost@gmail.com</p>
                                        <p><span>موقعیت :</span> IRAN , MASHHAD , SAADI 10</p>
                                    </div>
                                    <div class="footer-icons">
                                        <ul>
                                            <li>
                                                <a href="https://instagram.com/im_v1z1t0r">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end single footer -->
                        <div class="col-md-4 col-sm-3 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <h4>مسابقات بازی</h4>
                                    <div class="footer-services-link">
                                    	<ul class="footer-list">
											<li><a href="#">به زودی....</a></li>
										</ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End footer area -->
            <div class="footer-area-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>
                                    کپی رایت © 2022
                                    ارائه شده توسط  <a href="https://lagcity.ir/">تیم لگ سیتی </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		
		<!-- all js here -->

		<!-- jquery latest version -->
		<script src="{% static 'game/js/vendor/jquery-1.12.4.min.js' %}"></script>
		<!-- bootstrap js -->
		<script src="{% static 'game/js/bootstrap.min.js' %}"></script>
		<!-- owl.carousel js -->
		<script src="{% static 'game/js/owl.carousel.min.js' %}"></script>
		<!-- isotope js -->
        <script src="{% static 'game/js/isotope.pkgd.min.js' %}"></script>
		<!-- magnific js -->
        <script src="{% static 'game/js/magnific.min.js' %}"></script>
		<!-- venobox js -->
		<script src="{% static 'game/js/venobox.min.js' %}"></script>
        <!-- meanmenu js -->
        <script src="{% static 'game/js/jquery.meanmenu.js' %}"></script>
		<!-- Form validator js -->
		<script src="{% static 'game/js/form-validator.min.js' %}"></script>
		<!-- plugins js -->
		<script src="{% static 'game/js/plugins.js' %}"></script>
		<!-- main js -->
		<script src="{% static 'game/js/main.js' %}"></script>
	</body>

</html>