{% extends 'music/index.html' %}
{% block title %}خرید اشتراک لگ سیتی  {% endblock title %}
{% block content %}
	<!-- player -->

	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/music">صفحه اصلی</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">خرید اشتراک لگ سیتی</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h1>خرید اشتراک لگ سیتی :)</h1>

						<p>سلام! مرسی ک با خرید اشتراک یا همون ساب خودمون از من حمایت میکنی | قول میدم با استفاده از این مبالغ لگ سیتی رو خفن و بزرگ تر میکنم تا خودت و خودم حال کنیم :)</p>

						<p>اگه اشتراک بخری یه دسترسی نامحدود به اهنگ ها پیدا میکنی (هنرمندان رو هم حمایت کردی) | اگه اشتراک بخری یه دسترسی نامحدود به گیم ها پیدا میکنی(مسابقات بیشتری هم داریم به طبع) | اگه اشتراک بخری یه دسترسی نامحدود به فیلم و سریال ها پیدا میکنی(سرور ها و منابع رو گودرتمند تر میکنیم) | و در اخر اگه اشتراک بخری یه دنیا ازت ممنون میشیم :)</p>

						<p>نکته برادرانه : هیچ وقت پولت رو صرف چیزی ک نیاز نداری نکن !!!!</p>
					</div>
				</div>
				<!-- end title -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="feature">
						<span class="feature__icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,7H18V6a3,3,0,0,0-3-3H5A3,3,0,0,0,2,6H2V18a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V10A3,3,0,0,0,19,7ZM5,5H15a1,1,0,0,1,1,1V7H5A1,1,0,0,1,5,5ZM20,15H19a1,1,0,0,1,0-2h1Zm0-4H19a3,3,0,0,0,0,6h1v1a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V8.83A3,3,0,0,0,5,9H19a1,1,0,0,1,1,1Z"/></svg>
						</span>
						<h3 class="feature__title">مقرون به صرفه</h3>
						<p class="feature__text">با 20 هزار تومن به همه  چیزایی ک بالاتر گفتم دسترسی داری  | خرید اشتراک اجباری نیست!</p>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="feature feature--last">
						<span class="feature__icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"/></svg>
						</span>
						<h3 class="feature__title">از موزیک لذت ببرید</h3>
						<p class="feature__text">بدون اشتراک ماهانه هم میتونی اهنگ گوش بدید ولی بعضی از اهنگ ها فقط با اشتراک لگ سیتی قابل گوش دادن اند</p>
					</div>
				</div>
			</div>

			<div dir="rtl" class="row row--grid">
				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h2>اشتراک را انتخاب کنید</h2>
					</div>
				</div>
				<!-- end title -->
				<div class="col-12 col-lg-4 order-md-1 order-lg-2">
					<div class="plan plan--red">
						<h3 class="plan__title">اشتراک ماهانه</h3>
						<span class="plan__price">20,000 تومان<span>/ ماهانه</span></span>
						<ul class="plan__list">
							<li class="green"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"/></svg> بینهایت گوش کنید</li>
							<li class="green"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"/></svg> امکان تعویض اشتراک</li>
							<li class="green"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"/></svg> دانلود بینهایت گیم</li>
						</ul>
						<button class="plan__btn" type="button">انتخاب اشتراک</button>
					</div>
				</div>

			<!-- partners -->
			<div class="row">
				<div class="col-12">
					<div class="partners owl-carousel">
					</div>
				</div>
			</div>
			<!-- end partners -->
		</div>
	</main>
	<!-- end main content -->
{% endblock content %}